<footer class="f">
    <div class="decors"></div>
    <div class="container">
        <div class="f_topgrid">
            <div class="f_col hidem">
                <div class="f_title">Навигация</div>
                <a href="index.html">Главная</a>
                <a href="#">Курсы</a>
                <a href="#">Вебинары</a>
                <a href="#">Тренеры</a>
                <a href="#">Онлайн магазин</a>

            </div>

            <div class="f_col hidem">
                <div class="f_title">Обучение</div>
                <a href="#">Налоговый консультант</a>
                <a href="#">Профбухгалтер</a>
                <a href="#">Главный бухгалтер</a>
                <a href="#">ДипИФР</a>
                <a href="#">Финансовый директор</a>

            </div>

            <div class="f_col hidem">
                <div class="f_title">О нас</div>
                <a href="#">История</a>
                <a href="#">Аккредитации</a>
                <a href="#">Контакты</a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Договор оферта</a>

            </div>

            <div class="f_col">
                <div class="f_title">Связаться с нами</div>

                <div class="f_socflex">
                    <img src="./img/fph.svg" alt="">
                    <a href="tel:+77273507474">+7 727 350-74-74</a>
                </div>
                <div class="f_socflex">
                    <img src="./img/fph.svg" alt="">
                    <a href="tel:+77273131854">+7 727 313-18-54</a>
                </div>

                <div class="f_socflex">
                    <img src="./img/fi2.svg" alt="">
                    <a href="https://wa.me/+77053054023" target="_blank">+7 705 305-40-23</a>
                </div>

                <div class="f_socrow hidem">
                    <a href="" target="_blank"><img src="./img/ins.svg" alt=""></a>
                    <a href="" target="_blank"><img src="./img/fb.svg" alt=""></a>
                    <a href="" target="_blank"><img src="./img/vkk.svg" alt=""></a>
                    <a href="" target="_blank"><img src="./img/yt.svg" alt=""></a>
                </div>

            </div>

            <div class="f_socrow showm">
                <a href="" target="_blank"><img src="./img/ins.svg" alt=""></a>
                <a href="" target="_blank"><img src="./img/fb.svg" alt=""></a>
                <a href="" target="_blank"><img src="./img/vkk.svg" alt=""></a>
                <a href="" target="_blank"><img src="./img/yt.svg" alt=""></a>
            </div>

        </div>

        <div class="f_bottomgrid">
            <div class="f_col">
                <div class="sub">
                    <img src="./img/prof.svg" alt="" class="prof">
                    <img src="./img/ob.svg" alt="" class="ob">
                </div>
                <div class="tsm">Входит в <a href="uchet.kz" class="underlined">группу компаний Учёт</a></div>
            </div>
            <div class="f_col tsm">
                <p>Учебный центр ТОО "ПРОФИТренинг" БИН 100740014868 - организация по профессиональной сертификации бухгалтеров.
                    Свидетельство об аккредитации выдано Министерством финансов Республики Казахстан 30 октября 2019 года, №KZ82VNK00000270.
                    PROFITraining LLC Registered Learning Partner ACCA<br>
                    Аккредитованный провайдер ведущий подготовку по программе Сертификат CIMA «Управление эффективностью бизнеса» на русском языке.
                    Республика Казахстан, г. Алматы, ул. Жарокова, 41, 2 этаж
                </p>

                <div class="flex center spb">
                    <div>Copyright &copy; 2021 ПРОФИТренинг. Учебный центр. All rights reserved.</div>
                    <a href="#"  class="underlined">Сообщить об ошибке</a>
                </div>
            </div>
        </div>
    </div>
</footer>