<header class="header">
		<div class="container flex center spb">

			<a href="index.html" class="logolink"><img src="./img/logo.svg" alt="" class="logo"></a>
			<div class="perekladka"></div>
			<img src="./img/obuch.svg" alt="" class="h_obuch">
			<div class="perekladka"></div>

			<nav class="nav">
				<a href="#" class="nav_link hred" id="courses_ddlink">
					<img src="/img/h1.svg" alt="">
					<span>Все курсы</span>
				</a>
				<a href="https://profitraining.kz/seminars.php" class="nav_link hgreen">
					<img src="/img/h2.svg" alt="">
					<span>Вебинары</span>
				</a>
				<a href="#" class="nav_link hblue">
					<img src="/img/h3.svg" alt="">
					<span>Личный кабинет</span>
				</a>

				
			</nav>
			<div class="perekladka"></div>


			<svg class="ham hamRotate ham4 nav--btn" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
				<path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
				<path class="line middle" d="m 70,50 h -40" />
				<path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
			</svg>


		</div>


		<div id="courses_ddbody" class="subnav">

			<button class="close"></button>
			<div class="container">
				<div class="grid3">
					<div class="hc_col">
						<div class="hc_title">Онлайн-курсы</div>
						<a href="#zzz">Профессиональный бухгалтер РК</a>
						<a href="#zzz">Квалификация Аудитор РК</a>
						<a href="#zzz">DipIFR ACCA (Диплом МСФО)</a>
						<a href="#zzz">Главный бухгалтер</a>
						<a href="#zzz">Налоговый консультант</a>
						<a href="#zzz">Бухгалтер универсал</a>
						<a href="#zzz">Бухгалтер малого бизнеса</a>
						<a href="#zzz">Финансовый директор</a>
						<a href="#zzz">Продвинутый пользователь 1С</a>
					</div>
	
	
					<div class="hc_col">
						<div class="hc_title">Видеокурсы</div>
	
						<a href="#asda">КПН от А до Я</a>
						<a href="#asda">НДС от А до Я</a>
						<a href="#asda">ЭСФ от А до Я</a>
						<a href="#asda">ИПН, СН и СО от А до Я</a>
						<a href="#asda">Учет в производстве</a>
						<a href="#asda">Учет нерезидентов от А до Я</a>
						<a href="#asda">Excel для Профбухгалтера</a>
						<a href="#asda">Договоры от А до Я</a>
						<a href="#asda">Кадровый помощник для бухгалтера</a>
	
					</div>
	
	
					<div class="hc_col">
						<div class="hc_title">Конференции</div>
	
						<a href="#eee">Казахстанская конференция бухгалтеров Учёт</a>
						<a href="#eee">Конференция День Бухгалтера</a>
						<a href="#eee">МСФО</a>
						<a href="#eee">Автоматизация учета и бизнес процессов</a>
	
					</div>
	
	
				</div>
			</div>
		</div>



		<div id="hamdd" class="subnav">
			<div class="container">
				<div class="grid4">
					<div class="hc_col">
						<div class="hc_title">Навигация</div>
	
						<a href="#asd">Главная</a>
						<a href="#asd">Курсы</a>
						<a href="#asd">Вебинары</a>
						<a href="#asd">Тренеры</a>
						<a href="#asd">Онлайн-магазин</a>
	
					</div>
	
					<div class="hc_col">
						<div class="hc_title">Обучение</div>
	
						<a href="#asd">Налоговый консультант</a>
						<a href="#asd">Профбухгалтер</a>
						<a href="#asd">Главный бухгалтер</a>
						<a href="#asd">ДипИФР</a>
						<a href="#asd">Финансовый директор</a>
	
					</div>
	
	
					<div class="hc_col">
						<div class="hc_title">О нас</div>
	
						<a href="#asd">История</a>
						<a href="#asd">Аккредитации</a>
						<a href="#asd">Контакты</a>
						<a href="#asd">Политика <br>конфиденциальности</a>
						<a href="#asd">Договор оферта</a>
					</div>
	
	
					<div class="hc_col">
						<div class="hc_title">Связаться с нами</div>
	
						<a href="tel:+77273507474" class="flex hctslink">
							<img src="./img/ph.svg" alt="">
							<span>+7 727 350-74-74</span>
						</a>
						<a href="tel:+77273131854" class="flex hctslink">
							<img src="./img/ph.svg" alt="">
							<span>+7 727 313-18-54</span>
						</a>
						<a href="https://wa.me/+77053054023" class="flex hctslink" target="_blank">
							<img src="./img/wh.svg" alt="">
							<span>+7 705 305-40-23</span>
						</a>
						
						<div class="h_soc soc_row flex center">
							<a href="" target="_blank"><img src="./img/inc.svg" alt=""></a>
							<a href="" target="_blank"><img src="./img/fbc.svg" alt=""></a>
							<a href="" target="_blank"><img src="./img/vk.svg" alt=""></a>
							<a href="" target="_blank"><img src="./img/ytc.svg" alt=""></a>
						</div>
	
					</div>
	
				</div>
			</div>

		</div>

</header>


<div class="mnav" id="mnav">
	<div class="dd_h dd_h--g">
		<div class="flex">
			<img src="./img/m1.svg" alt="">
			<div class="dd_h__title">Вебинары</div>
		</div>
	</div>
	<div class="dd_b">
		<a href="https://profitraining.kz/seminar-july2021-1new.html">Трудовой отпуск - кому предоставить, как оформить и оплатить</a>
		<a href="https://profitraining.kz/seminar-july2021-3new.html">Проверка и настройка базы перед сдачей квартальной отчетности на примере сервиса Учёт.Бухгалтерия</a>
		<a href="https://profitraining.kz/seminar-july2021-4new.html">Учёт займов</a>
		<a href="https://profitraining.kz/seminar-july2021-5new.html">7 ошибок при расторжении трудового договора</a>
		<a href="https://profitraining.kz/seminar-july2021-6new.html">Инструменты управленческого учета в работе бухгалтера</a>
	</div>

	<div class="dd_h dd_h--p">
		<div class="flex">
			<img src="./img/m2.svg" alt="">
			<div class="dd_h__title">Онлайн-курсы</div>
		</div>
	</div>
	<div class="dd_b">
		<a href="https://profitraining.kz/online.php">Профессиональный бухгалтер РК</a>
		<!-- <a href="">Квалификация Аудитор РК</a> -->
		<a href="https://profitraining.kz/dipifr-online.php">DipIFR ACCA (Диплом МСФО)</a>
		<a href="https://uchet.kz/lp/cima/?utm_source=profitraining&utm_medium=site&utm_campaign=cima">Квалификация CIMA</a>
		<a href="https://uchet.kz/lp/gb/?utm_source=profitraining&utm_medium=top-menu&utm_campaign=bmb">Главный бухгалтер</a>
		<a href="https://uchet.kz/lp/tax-cons/?utm_source=profitraining&utm_medium=site&utm_campaign=taxcons">Налоговый консультант</a>
		<a href="https://uchet.kz/lp/universal/?utm_source=profitraining&utm_medium=top-menu&utm_campaign=bmb">Бухгалтер универсал</a>
		<a href="https://uchet.kz/lp/bmb/?utm_source=profitraining&utm_medium=top-menu&utm_campaign=bmb">Бухгалтер малого бизнеса</a>
		<a href="https://uchet.kz/lp/finance-dir/?utm_source=profitraining">Финансовый директор</a>
		<a href="https://uchet.kz/lp/advanced-1c/?utm_source=profitraining&utm_medium=top-menu&utm_campaign=1c">Продвинутый пользователь 1С</a>
	</div>

	<div class="dd_h dd_h--y">
		<div class="flex">
			<img src="./img/m3.svg" alt="">
			<div class="dd_h__title">Видеокурсы</div>
		</div>
	</div>
	<div class="dd_b">
		<a href="https://profitraining.kz/kpn-prof/">КПН от А до Я</a>
		<a href="https://profitraining.kz/esf-atoz/">Видеокурс: ЭСФ от А до Я</a>
		<a href="https://profitraining.kz/nds-AtoZ/">Видеокурс: НДС от А до Я</a>
	</div>

	<div class="dd_h dd_h--b">
		<div class="flex">
			<img src="./img/m4.svg" alt="">
			<div class="dd_h__title">Конференции</div>
		</div>
	</div>
	<div class="dd_b">
		<a href="#">Конференция</a>
		<a href="#">Конференция</a>
		<a href="#">Конференция</a>

	</div>

	<div class="dd_h dd_h--o">
		<div class="flex">
			<img src="./img/m5.svg" alt="">
			<div class="dd_h__title"><a href="about.html">О нас</a></div>
		</div>
	</div>

	<div class="dd_h dd_h--lg">
		<div class="flex">
			<img src="./img/m6.svg" alt="">
			<div class="dd_h__title"><a href="#team">Тренеры</a></div>
		</div>
	</div>

	<div class="dd_h dd_h--vi">
		<div class="flex">
			<img src="./img/m7.svg" alt="">
			<div class="dd_h__title"><a href="#">Онлайн-магазин</a></div>
		</div>
	</div>


</div>
